@import '../../App';

.nav-bar {
  background: $background-color-sideBar;
  text-align: center;
  width: 60px;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 3;
  min-height: 500px;

  p {
    color: $title-color-sideBar;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 20px;
  }

  a {
    color: $title-color-sideBar;
    text-decoration: none;
    font-size: medium;
  }
}